:root {
    --smartmentor-dark-blue: #112958;
    --smartmentor-light-blue: #0378a6;
    --smartmentor-dark-pink: #E7455F;
    --smartmentor-gray: #C4C4C4;
}

.smartmentor-dark-blue {
    color: var(--smartmentor-dark-blue) !important;
}
.bg-smartmentor-dark-blue {
    background-color: var(--smartmentor-dark-blue) !important;
}
.border-smartmentor-dark-blue {
    border-color: var(--smartmentor-dark-blue) !important;
}

.smartmentor-light-blue {
    color: var(--smartmentor-light-blue) !important;
}
.bg-smartmentor-light-blue {
    background-color: var(--smartmentor-light-blue) !important;
}
.border-smartmentor-light-blue {
    border-color: var(--smartmentor-light-blue) !important;
}

.smartmentor-dark-pink {
    color: var(--smartmentor-dark-pink) !important;
}
.bg-smartmentor-dark-pink {
    background-color: var(--smartmentor-dark-pink) !important;
}
.border-smartmentor-dark-pink {
    border-color: var(--smartmentor-dark-pink) !important;
}

.smartmentor-gray {
    color: var(--smartmentor-gray) !important;
}
.bg-smartmentor-gray {
    background-color: var(--smartmentor-gray) !important;
}
.border-smartmentr-gray {
    border-color: var(--smartmentor-gray) !important;
}

.smartmentor-btn {
    vertical-align: middle;
    border: 0;
    border-radius: 17px !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    display: inline-block;
    text-align: center;
    user-select: none;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.75rem 1.6875rem 0.6875rem;
    font-size: .875rem;
    line-height: 1.6;
}

.smartmentor-btn-dark-pink {
    background-color: var(--smartmentor-dark-pink) !important;
    border: 2px solid var(--smartmentor-dark-pink) !important;
    color: #FFFFFF;
}

.smartmentor-btn-dark-pink:hover {
    background-color: var(--smartmentor-dark-blue) !important;
    color: #FFFFFF;
}

.form-check-input[type=checkbox]:checked:focus,
.form-check-input[type=checkbox]:checked {
    background-color: #FFFFFF;
}
.form-check-input[type=checkbox]:checked:after {
    border-color: #112958;
}

.form-check-input {
    border-color: var(--smartmentor-dark-blue) !important;
}

.form-check-input:checked {
    border-color: var(--smartmentor-light-blue) !important;
}